.edit {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.7);
	div {
		width: 700px;
		height: 600px;
		background-color: #C1C1C1;
		padding: 40px;
		input {
			padding: 5px;
			font-weight: 500;
		}
		div {
			display: inline-block;
			width: auto;
			height: auto;
			padding: 0;
			background-color: #FFFFFF;
			border: 1px solid #000000;
			.time-input {
				width: 25px;
				border: none;
				text-align: center;
				outline: none;
				&:first-child{
					width: 40px;
					text-align: right;
				}
			}
		}
		section {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 270px;
			button {
				color: #FFFFFF;
				&:first-child {
					margin-right: 35px;
				}
			}
			.accept {
				background-color: #28A745;
				border-color: #124D1F;
			}
			.decline {
				background-color: #DC3545;
				border-color: #4D1319;
			}
		}
	}
}